{% extends_my_configured_layout 'admingenerator.user_login_template' %}

{% block title %}{{ 'security.authentication'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block page_header_content %}
    <h1>{{ 'security.authentication'|trans({}, 'FOSUserBundle') }}</h1>
{% endblock page_header_content %}

{% block page_content %}
    <div class="row-fluid">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock page_content %}
