{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'security.registration'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block page_header_content %}
    <h1>{{ 'security.registration'|trans({}, 'FOSUserBundle') }}</h1>
{% endblock page_header_content %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
